.header {
  background-color: rgba(0, 0, 0, 0.553);
  box-sizing: border-box; }
  .header .logoHeader {
    width: 100px;
    background-color: rgba(0, 0, 0, 0.553);
    border-radius: 10%; }
  .header .IconHeader {
    width: 40px;
    background-color: white;
    margin: 5px; }
  .header .colortextnav {
    color: white !important;
    font-size: 1.5rem !important;
    text-decoration-line: underline; }
  @media (max-width: 600px) {
    .header .colortextnav {
      font-size: 20px !important; } }
  .header .colortextnav:hover {
    color: blue !important; }
  .header .botoninicio {
    display: none; }
  .header .color_button_collapse {
    background-color: white;
    border-radius: 20%; }
  .header .logomov:hover .logoanimated {
    transform: rotate(360deg);
    transition: all .9s; }

.contp {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.553); }

.divContaiContact {
  background-color: rgba(0, 0, 0, 0.553); }
  .divContaiContact .formcont {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px; }
  .divContaiContact .textocontact {
    font-size: 2rem; }

.h1Nos {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.553);
  margin: 3vh; }

.pNos {
  font-size: larger;
  color: white;
  background-color: rgba(0, 0, 0, 0.553);
  margin: 3vh; }

.divMainProy {
  text-align: center; }

.prioridad {
  z-index: 10000 !important; }

.carrusel {
  margin: 15px; }

.h1MainProy {
  background-color: rgba(0, 0, 0, 0.553);
  color: white;
  padding: 10px;
  margin: 10px; }

.pMainProy {
  background-color: rgba(0, 0, 0, 0.553);
  color: white;
  font-size: larger;
  padding: 10px;
  margin: 10px; }

controlposition {
  position: relative !important;
  display: inline-block !important; }

.ColorCardfondo {
  background-color: rgba(0, 0, 0, 0.553) !important; }

.colorTextCard {
  color: white;
  font-size: larger;
  padding: 10px; }

.colorTextTitleCard {
  color: white;
  font-size: xx-large;
  text-align: center; }

.contmenumov:hover .imgmenumov {
  transform: scale(1.1);
  transition: all .3s; }

.footer {
  margin-top: auto; }
  .footer .TextFooter {
    color: red;
    font-size: large;
    text-align: center; }

.color_nav-item {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.553) !important;
  color: #54ffff !important;
  font-size: 30px !important;
  font-weight: 600 !important; }

.textconstrucc {
  color: red;
  text-align: center;
  font-size: 100px; }

.fondo {
  background-color: rgba(0, 0, 0, 0.728); }

body {
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../assets/img/fondos/pexels-brayden-law-1738986.jpg); }

.introIndex {
  background-color: rgba(0, 0, 0, 0.553);
  color: white;
  font-size: larger; }

@media (min-width: 992px) {
  .alto-100 {
    height: 100vh; } }
