

body{
    box-sizing: border-box;
    width: 100vw;
   
    margin: 0 0 0 0;
    background-image: url(../assets/img/fondos/fondo.jpg) ;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}

.header{
    background-color: rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
    
}
.logoHeader{
    width: 07vw;
    background-color: rgba(0, 0, 0, 0.553);
    border-radius: 10%;
    
}
.logomov:hover .logoanimated {
    transform: rotate(360deg);
    transition: all .9s;

}

.IconHeader{
    width: 02vw;
    background-color: white;
    
}
.colortextnav{
    color: white !important;
    font-size: 1.5rem !important;
}
.contp{
    
    font-size: 1.5rem ;
    color: white;
    text-align: center;
}


.contmenumov:hover .imgmenumov{
    transform: scale(1.1);
    transition: all .3s;
}
.TextFooter{
    color: red;
    font-size: large;
    text-align: center;   
}

@media (min-width: 992px) {
    .alto-100{
        height: 100vh;
    }
 }

 .textocontact{
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.553);
    
 }