
 .divContaiContact{
    background-color: $colorBgText;
      .formcont{
         flex-direction: column;
         justify-content: space-evenly;
         gap: 20px;   
         margin-bottom: 20px;
   }
      .textocontact{
         font-size: 2rem;
      
   }

 }
