.header{
    background-color: $colorBgText;
    box-sizing: border-box;
    .logoHeader{
        width: 100px;
        background-color: $colorBgText;
        border-radius: 10%;
    }
    
    .IconHeader{
        width: 40px;
        background-color: $color1;
        margin: 5px;
        
    }
    .colortextnav{
        color: rgb(84, 255, 255) !important;
        font-size: 1.5rem !important;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    }

    @media ( max-width: 600px){
        .colortextnav{
            font-size: 20px !important;
        }
    }
    .colortextnav:hover, .colortextnav:focus {
        background-size: 100% 2px;
    }
    
        .botoninicio{
        display: none;
    }

    .color_button_collapse{
        background-color: $color1;
        border-radius: 20%;
    }
    .logomov:hover .logoanimated {
        transform: rotate(360deg);
        transition: all .9s;
    
    }
}



.contp{

font-size: 1.5rem ;
color: $color1;
text-align: center;
background-color: $colorBgText;
}